# **📌 Notice**
- 문항은 각 파트별로 3~4문제씩 총 **12문제**입니다.
- 답안 영역에 답을 작성한 후 ```.ipynb``` 파일로 제출 해주세요.
   - 제출 기한: 내일(2024/02/25) <U>오후 8시</U>까지  
     (이후에 보내시는 파일은 채점하지 않습니다. 시간 엄수 부탁드립니다.)
   - Euron 공식 메일 주소: [ewhaeuron@gmail.com](ewhaeuron@gmail.com)
   - 제출 이메일/파일 제목: **예비6기_이름(초급)**    
     (고급팀과의 파일 구분을 위함입니다. 제목 양식 꼭 지켜주세요.)
- 코랩 사용법 가이드라인을 꼭 정독해 주세요: [코랩 사용법 가이드라인](https://euron6th.notion.site/Colab-78776fe58d1e45f2acd336f2070dec8c?pvs=4)
  - 답안과 함께 반드시 **❗실행 결과❗**가 포함되어 있어야 합니다.
  - 제출 오류에 대한 책임은 모두 지원자 본인에게 있음을 알려드립니다.
- 초급팀에서 배우기 위해 지원하셨다는 것을 충분히 인지하고 있기에, 마지막 문제(**4-3번**)의 점수가 1차 통과의 당락을 결정하진 않습니다.
  - 교재, 구글링, ChatGPT, 지인 찬스 등을 통해 최대한 풀어 제출해 주시면 됩니다.  
- 문제 파일에 대한 소유권은 Euron 6기 운영진에게 있습니다. 따라서, 해당 문제를 무단 도용/배포하시는 경우 지원 자격이 박탈됨을 유의해 주시기 바랍니다

# **1️⃣ 문제 1**
- 출제 의도
  - 리스트와 튜플의 개념을 이해하고, 이를 적절히 활용할 수 있는가
- 평가 기준
  - 1-1번. 리스트 인덱싱, 반복 및 합계 계산, 조건에 맞는 필터링
  - 1-2번. 사용자 입력, 리스트 인덱싱, 리스트 메소드 및 문자열 메소드 활용
  - 1-3번. 이차원 리스트 활용

## **1-1. 튜플 (10점)**  
다음은 학생들의 성적을 튜플로 표현한 데이터입니다.  
각 튜플의 첫 번째 요소는 학생의 이름이고, 두 번째 요소는 해당 학생의 성적입니다.

In [ ]:
### 실행해 주세요.

students = [("Minji", 85), ("Hanni", 90), ("Danielle", 75), ("Haerin", 95), ("Hyein", 80)]

### **step 1)**
학생들의 성적 중 최고 성적을 가진 학생의 이름과 성적을 출력하는 코드를 작성하세요. (4점)

**❗ 조건>**  
다음과 같이 출력되게 해주세요.

```
최고 성적을 가진 학생: Haerin 95
```

In [ ]:
### 예시답안

best_student = max(students, key=lambda x: x[1])
print("최고 성적을 가진 학생:", best_student[0], best_student[1])

최고 성적을 가진 학생: Haerin 95

### **step 2)**
학생들의 성적 평균을 계산하여 출력하는 코드를 작성하세요. (4점)

**❗ 조건>**  
다음과 같이 출력되게 해주세요.
```
학생들의 성적 평균: 85.0
```

In [ ]:
### 예시답안

total_score = sum(score for score, score in students)
average_score = total_score / len(students)
print("학생들의 성적 평균:", average_score)

학생들의 성적 평균: 85.0

### **step 3)**
성적이 85점 이상인 학생들의 이름을 모두 출력하는 코드를 작성하세요. (2점)

**❗ 조건>**  
다음과 같이 출력되게 해주세요.
```
성적이 85점 이상인 학생들: ['Minji', 'Hanni', 'Haerin']
```

In [ ]:
### 예시답안

high_score_students = [name for name, score in students if score >= 85]
print("성적이 85점 이상인 학생들:", high_score_students)

성적이 85점 이상인 학생들: ['Minji', 'Hanni', 'Haerin']

## **1-2. 리스트 (10점)**
- 주어진 제시문에 따라 문제를 단계적으로 해결해 주세요.

### **step 1)**
사용자로부터 <U>3보다 큰</U> 정수 하나를 입력받아 `n`에 저장하고, 사용자에게 n개의 문장를 입력받습니다.  
이후 각 문장에서 가장 긴 단어를 `longest_words` 리스트에 저장하고 `longest_words` 리스트를 출력해 주세요. (6점)

**⏺ 입력 예시>**
```
정수를 입력하세요: 4
문장을 입력하세요: Sun sets mountains glow
문장을 입력하세요: She smiles eyes sparkle
문장을 입력하세요: What your name
문장을 입력하세요: My name is Euron
```

**⏺ 출력 예시>**  

```
['mountains', 'sparkle', 'What', 'Euron']
```

**❗ 조건>**
-  '.', '!', '?' 등의 문장부호는 쓰지 않는다고 가정합니다.  
(예외처리 부분은 구현하지 않으셔도 됩니다.)
- 만약 가장 긴 단어가 여러 개라면, 처음 위치한 단어를 저장합니다.

In [ ]:
### 예시답안

# 사용자로부터 정수를 입력받는 부분
n = int(input("정수를 입력하세요: "))

# n개의 문장을 입력받아 각 문장에서 가장 긴 단어를 longest_words 리스트에 저장
longest_words = []
#문제지에서 longest_wors라는 오타가 있었습니다. 이에 따른 감점은 없습니다.
for i in range(n):
    sentence = input("문장을 입력하세요: ")
    words = sentence.split()
    longest_word = max(words, key = len)
    longest_words.append(longest_word)
print(longest_words)

정수를 입력하세요: 4
문장을 입력하세요: Sun sets mountains glow
문장을 입력하세요: She smiles eyes sparkle
문장을 입력하세요: What your name
문장을 입력하세요: My name is Euron
['mountains', 'sparkle', 'What', 'Euron']

### **step 2)**
`longest_words` 리스트의 순서를 역순으로 정렬하고, 3번째 단어의 모음의 개수를 출력하세요. (4점)

**⏺ 출력 예시>**
```
2
```

In [ ]:
### 예시답안

# 리스트의 순서를 역순으로 변경
longest_words.reverse()

# 3번째 단어의 모음의 개수를 계산하여 출력
vowel_count = sum(1 for char in longest_words[2] if char in 'aeiouAEIOU')
print(vowel_count)

2

## **1-3. 이차원 리스트 (10점)**

명함 지갑을 만드는 회사에 다니는 김이화는 지갑의 크기를 정하려고 합니다. 다양한 모양과 크기의 명함들을 모두 수납할 수 있으면서, 작아서 들고 다니기 편한 지갑을 만들고 싶어요.  
이러한 조건을 만족하는 지갑을 만들기 위해 김이화는 모든 명함의 가로 길이와 세로 길이를 조사했어요. 아래 표는 4가지 명함의 가로 길이와 세로 길이입니다.

|명함 번호|가로|세로|
|---|---|---|
|1|60|50|
|2|30|70|
|3|60|30|
|4|80|40|


가장 긴 가로 길이와 세로 길이가 각각 80, 70이기 때문에 80(가로) x 70(세로) 크기의 지갑을 만들면 모든 명함들을 수납할 수 있을 것 같아요!

### **step 1>**
사용자에게 명함의 개수를 입력받아 정수 n에 저장하고, 명함 n개의 가로와 세로를 저장한 이차원 리스트 cards를 출력하세요. (5점)

**⏺ 입력 예시>**
```
명함의 개수를 입력하세요: 4
명함 1의 가로와 세로를 입력하세요: 60 50
명함 2의 가로와 세로를 입력하세요: 30 70
명함 3의 가로와 세로를 입력하세요: 60 30
명함 4의 가로와 세로를 입력하세요: 80 40
```

**⏺ 출력 예시>**
```
[[60, 50], [30, 70], [60, 30], [80, 40]]
```

In [ ]:
### 예시답안

n = int(input("명함의 개수를 입력하세요: "))
cards = []

for i in range(n):
    width, height = map(int, input(f"명함 {i+1}의 가로와 세로를 입력하세요: ").split())
    cards.append([width, height])

print(cards)

명함의 개수를 입력하세요: 4
명함 1의 가로와 세로를 입력하세요: 60 50
명함 2의 가로와 세로를 입력하세요: 30 70
명함 3의 가로와 세로를 입력하세요: 60 30
명함 4의 가로와 세로를 입력하세요: 80 40
[[60, 50], [30, 70], [60, 30], [80, 40]]

### **step 2>**
모든 명함을 수납할 수 있는 가장 작은 지갑의 크기를 구하세요. (5점)

In [ ]:
max_width = max(card[0] for card in cards)
max_height = max(card[1] for card in cards)
smallest_size = max_width * max_height

# 모든 명함을 수납할 수 있는 가장 작은 지갑의 크기 출력
# 5600, 80(가로)X70(세로) 등 다양한 출력 양식 모두 정답 처리하였습니다.
print(smallest_size)

5600

# **2️⃣ 문제 2**
- 출제 의도
  - 조건문, 반복문 문제를 해결할 수 있는가
  - 주어진 조건에 정확히 부합하는 코드를 스스로 작성하고 설명할 수 있는가
- 평가 기준
  - 2-1번. 조건문
  - 2-2번. 반복문
  - 2-3번. 조건문+반복문 활용

## **2-1. 조건문(5점)**
사용자에게 몸무게를 입력 받아 과체중인지 정상 체중인지 출력하는 프로그램을 만드세요.  
(과체중: 100kg 초과)

**⏺ 예시 1>**
- 입력: 105
- 출력: '귀하는 과체중입니다.'

**⏺ 예시 2>**
- 입력: 90
- 출력: '귀하는 정상체중입니다.'

**❗ 조건>**
- 몸무게 입력은 `input()` 함수를 사용하여 입력 받으세요.
- 반드시 **삼항연산자**를 활용하세요.

In [ ]:
### 예시답안 1

# 몸무게를 입력받는 부분(입력)
weight = input('몸무게를 입력해 주세요: ')

# 출력
"귀하는 과체중입니다." if int(weight) > 100 else "귀하는 정상체중입니다."

몸무게를 입력해 주세요: 98

'귀하는 정상체중입니다.'

In [ ]:
### 예시답안 2

# 몸무게를 입력받는 부분(입력)
weight = input('몸무게를 입력해 주세요: ')

# 출력
"귀하는 과체중입니다." if int(weight) > 100 else "귀하는 정상체중입니다."

몸무게를 입력해 주세요: 110

'귀하는 과체중입니다.'

## **2-2. 반복문 (5점)**
♪ 구구단을 외자~ 구구단을 외자~ ♪  
구구단을 반복문을 사용하여 만들어 보세요.

**❗ 조건>**  
- 2단부터 9단까지 만들어 주세요.
- 아래와 같이 출력되게 해주세요.  
(출력 형식 주의, 단 사이 한 줄 띄우기)


```
=== 2단 ===
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

=== 3단 ===
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

(중략)

=== 9단 ===
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
```

In [ ]:
### 예시답안

# 코드를 입력해 주세요
for i in range(2, 10):
  print(f'=== {i}단 ===')
  for j in range(1, 10):
    print(f'{i} X {j} = {i*j}')
  print()

=== 2단 ===
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

=== 3단 ===
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

=== 4단 ===
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

=== 5단 ===
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

=== 6단 ===
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

=== 7단 ===
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

=== 8단 ===
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

=== 9단 ===
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

## **2-3. 조건문 + 반복문 (10점)**
평행사변형의 높이(h)와 밑변(k), 공백의 방향(d)을 입력받아 평행사변형을 출력하는 코드를 작성해 주세요.

**❗ 조건>**  
- 높이(h)와 밑변(k), 방향 정보(d)가 한줄로 공백으로 분리되어 순서대로 입력됩니다.
- 입력은 다음과 같이 제한된다고 가정합니다.  
(예외처리 부분은 구현하지 않으셔도 됩니다.)  
  - 1 <= h <= 10
  - 2 <= k <= 10
  - d = L(왼쪽) 또는 R(오른쪽)

**⏺ 예시 1>**  
- 입력: 5 4 L
- 출력  
(공백 단위는 모두 '스페이스 1칸'입니다.)

```
####
 ####
  ####
   ####
    ####
```

**⏺ 예시 2>**  
- 입력: 3 2 R
- 출력  
(공백 단위는 모두 '스페이스 1칸'입니다.)

```
  ##
 ##
##
```

In [ ]:
### 예시답안
## 코드를 작성하고 예시 1로 테스트 해주세요.

# 입력
input_data = input().split()
h = int(input_data[0])
k = int(input_data[1])
d = input_data[2]

# 평행사변형 출력
for i in range(h):
  if d == 'L':
    spaces = i
  else:
    spaces = h - i - 1

  # 최종 출력
  sharp = '#' * k
  print(" " * spaces + sharp)

5 4 L
####
 ####
  ####
   ####
    ####

In [ ]:
### 예시답안
## 코드를 작성하고 예시 2로 테스트 해주세요.

# 입력
input_data = input().split()
h = int(input_data[0])
k = int(input_data[1])
d = input_data[2]

# 평행사변형 출력
for i in range(h):
  if d == 'L':
    spaces = i
  else:
    spaces = h - i - 1

  # 최종 출력
  sharp = '#' * k
  print(" " * spaces + sharp)

3 2 R
  ##
 ##
##

# **3️⃣ 문제 3**

- 출제 의도 :
  - 조건에 맞게 함수를 정의할 수 있는가
  - 함수를 활용하여 문제를 해결할 수 있는가
- 평가 기준
  - 3-1번. 간단한 함수의 정의
  - 3-2번. 조금 복잡한 함수의 정의
  - 3-3번. 함수의 활용

## **3-1번 (5점)**
두 개의 숫자를 입력받아 그 합을 출력하는 `print_sum()` 함수를 정의해 주세요.

**⏺ 예시 >**  
다음과 같은 동작을 하는 함수이면 됩니다.
- 입력: 5 4
- 출력: 9

In [ ]:
### 예시답안

def print_sum(a, b):
  return a+b

## **3-2번 (5점)**
네 개의 숫자를 입력받아 그 중 가장 큰 수를 출력하는 `print_max()` 함수를 정의해 주세요.

**❗ 조건>**  
- <U>if문</U>을 사용해서 나타내 주세요.

**⏺ 예시 1>**  
다음과 같은 동작을 하는 함수이면 됩니다.
- 입력: 5 4 3 2
- 출력: 5

In [ ]:
### 예시답안

def print_max(a, b, c, d):
  max_value = a

  if b > max_value:
    max_value = b
  if c > max_value:
    max_value = c
  if d > max_value:
    max_value = d

  return max_value

## **3-3번 (20점)**
- 학생들의 성적 정보가 주어져 있습니다. 학생들의 평균 성적을 계산하고, 가장 많은 학생이 속한 등급과 가장 적은 학생이 속한 등급을 출력하는 함수를 작성해주세요.

**❗ 조건>**  
- 등급 구분 - A: 90점 이상, B: 80점 이상, C: 70점 이상, D: 60점 이상, F: 60점 미만
- 최소/최대를 구할 때, 내장함수를 사용하지 마세요.
(내장함수 사용 시, 해당부분 0점)

### **step 1)**
등급 구분 함수 `calculate_grade()`를 작성하세요.  (8점)

In [ ]:
### 등급 구분 함수 예시답안

def calculate_grade(score):
    if score >= 90:
        return "A"
    elif score >= 80:
        return "B"
    elif score >= 70:
        return "C"
    elif score >= 60:
        return "D"
    else:
        return "F"

### **step 2)**  
빈칸에 들어갈 코드를 작성하여 `analyze_scores()` 함수를 완성해 주세요. (10점)

In [ ]:
### 함수 완성 문제 예시답안

def analyze_scores(*scores):
    grade_counts = {"A": 0, "B": 0, "C": 0, "D": 0, "F": 0}
    total_score = 0

    for score in scores:
        grade = calculate_grade(score)
        grade_counts[grade] += 1
        total_score += score

    max_grade = "A"
    min_grade = "F"

    for grade in grade_counts:
        if grade_counts[grade] > grade_counts[max_grade]:
            max_grade = grade
        if grade_counts[grade] < grade_counts[min_grade]:
            min_grade = grade

    average_score = total_score / len(scores)

    return max_grade, min_grade, average_score

### **step 3)**  
다음과 같은 데이터들로 위에서 정의한 함수가 잘 작성되었나 확인해 보세요. (2점)

In [ ]:
### 테스트 코드

scores = [85, 90, 78, 92, 88, 72, 66, 98, 54]

max_grade, min_grade, average_score = analyze_scores(*scores)
print("가장 많은 학생이 속한 등급:", max_grade)
print("가장 적은 학생이 속한 등급:", min_grade)
print("전체 성적 평균:", average_score)

# **4️⃣ 문제 4**

- 출제 의도
  - 넘파이, 판다스, 머신러닝 어디까지 알고 있나요?
- 평가 기준
  - 4-1번. `numpy.ndarray`에 대한 이해, 인덱싱
  - 4-2번. 머신러닝에 필요한 기초적인 판다스 지식(데이터 전처리)
  - 4-3번. 사이킷런 맛보기

## **4-1. 넘파이 (10점)**
- 주어진 제시문에 따라 문제를 단계적으로 해결해 주세요.

In [ ]:
import numpy as np

### **Step 1)**
1부터 10까지의 숫자가 저장된 1차원 넘파이 배열을 만들어 주세요.  (3점)  
**🔑힌트>**  
넘파이에도 '범위'와 관련된 함수가 있어요.

In [ ]:
### 예시답안

arr = np.arange(1,11)
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

### **Step 2)**
해당 배열에서 **짝수**만을 선택해 주세요. (3점)    
**❗ 조건>**   
<U>Fancy 인덱싱</U>을 활용하여 문제를 해결해 주세요.

- Fancy 인덱싱: 일정한 인덱싱 집합을 리스트 또는 ndarray 형태로 지정해 해당 위치에 있는 데이터의 ndarray를 반환
- Boolean 인덱싱: 특정 조건에 해당하는지 여부인 True/False 값 인덱싱 집합을 기반으로 True에 해당하는 인덱스 위치에 있는 데이터의 ndarray를 반환

In [ ]:
### 예시답안

idx = range(1, 10, 2)
arr[idx]

array([ 2,  4,  6,  8, 10])

### **Step 3)**
주어진 상황을 잘 읽고, 해당 문제가 발생한 이유를 설명해 주세요.😊

> 김이화는 배열을 역순으로 정렬하고 싶었어요. 그래서 다음과 같이 정렬을 했어요.

In [ ]:
# 재실행 금지!
np.sort(arr)[::-1]

array([10,  9,  8,  7,  6,  5,  4,  3,  2,  1])

> 그런데, 배열을 다시 확인해보니.. 어라라.. 정렬된 결과가 저장되지 않았네요.😭

In [ ]:
# 재실행 금지!
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

**문제>**
왜 정렬된 결과가 배열에 저장되지 않았을까요? (4점)    
**예시답안>**  
np.sort(arr)는 주어진 배열의 정렬된 형태의 복사본을 리턴한다. 따라서, 원본 배열 자체를 변경하지는 못한다.  
![image.png]()

---
(+) 원본 배열에 해당 정렬 결과를 반영하려면 재할당이 필요하다.
```
arr = np.sort(arr)[::-1]
```

---

### **데이터 준비**
- 4-2번, 4-3번 문제는 제공된 데이터를 활용하여 문제를 해결하는 과제입니다.
  - 문제지와 함께 제공된 `basic_data.csv` 파일을 다운로드 받은 후 풀이를 진행해 주세요.

In [ ]:
### 파일 업로드
## Colab으로 문제 풀이를 하시는 분들만 실행해 주시면 됩니다.
## 아래 코드를 실행한 후 파일을 업로드 해주세요.

from google.colab import files
myfile = files.upload()

Saving basic_data.csv to basic_data.csv

In [ ]:
### 아래 코드를 실행시켜 주세요.
## Colab이 아닌 다른 IDE를 사용하는 경우 csv 파일 경로를 알맞게 수정해 주세요.

import pandas as pd

df = pd.read_csv('./basic_data.csv', sep = ',') # csv: Comma Seperated Vector

**📌 Description**
- 주어진 데이터는 여러 평가 기준으로 차량을 평가한 데이터입니다.

|**변수**|**설명**|
|-----|----------|  
|buying|차량 구매 가격|
|maint|차량 유지에 필요한 비용|
|doors|차량의 문 개수|
|persons|몇인승인지|
|lug_boot|짐칸(트렁크)의 사이즈|
|safety|차량의 안전도|
|class|차량 평가 등급|

## **4-2. 판다스 (10점)**

### **Step 1)**
현재 데이터는 `df`라는 이름의 데이터프레임에 저장되어 있습니다.   
`df`의 상위 5개 행을 확인해 주세요.
(2점)

In [ ]:
### 예시답안

df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    med  unacc
1  vhigh  vhigh     2       2    small   high  unacc
2  vhigh  vhigh     2       2      med    low  unacc
3  vhigh  vhigh     2       2      med    med  unacc
4  vhigh  vhigh     2       2      med   high  unacc

### **Step 2)**
데이터 정보를 확인해 주세요. (3점)  
**🔑 힌트** 판다스에는 데이터프레임의 데이터 정보를 확인할 수 있는 함수가 있어요.

In [ ]:
### 예시답안

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1727 non-null   object
 1   maint     1727 non-null   object
 2   doors     1727 non-null   object
 3   persons   1727 non-null   object
 4   lug_boot  1727 non-null   object
 5   safety    1727 non-null   object
 6   class     1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

### **Step 3)**
- 각 변수별(컬럼별)로 고유값의 종류와 개수를 파악해 주세요. (5점)  
- **예시>**
```
=== buying ===
high     432
med      432
low      432
vhigh    431
```

In [ ]:
### 예시답안

for col in df.columns:
  print(f"=== {col} ===")
  print(df[col].value_counts())
  print()

=== buying ===
high     432
med      432
low      432
vhigh    431
Name: buying, dtype: int64

=== maint ===
high     432
med      432
low      432
vhigh    431
Name: maint, dtype: int64

=== doors ===
3        432
4        432
5more    432
2        431
Name: doors, dtype: int64

=== persons ===
4       576
more    576
2       575
Name: persons, dtype: int64

=== lug_boot ===
med      576
big      576
small    575
Name: lug_boot, dtype: int64

=== safety ===
med     576
high    576
low     575
Name: safety, dtype: int64

=== class ===
unacc    1209
acc       384
good       69
vgood      65
Name: class, dtype: int64

## **4-3. Scikit-learn (15점)**
- 위에서 정의한 `df` 데이터프레임을 계속 활용할 예정입니다.

**🔑 힌트>**    
- [사이킷런 공식 API](https://scikit-learn.org/stable/modules/classes.html)
- [사이킷런 tutorial](https://scikit-learn.org/stable/tutorial/basic/tutorial.html)

### **Step 1)**
범주형 변수는 컴퓨터가 이해할 수 있도록 숫자형 변수로 변경해 주는 인코딩 작업이 필요합니다.  
범주형 변수에 대해 **Label Encoding**을 수행해 주세요. (4점)

In [ ]:
### 예시답안

from sklearn.preprocessing import LabelEncoder

# LabelEncoder 객체 생성
enc = LabelEncoder()

# 범주형 변수에 대해 레이블 인코딩 수행
for col in df.columns:
  df[col] = enc.fit_transform(df[col])

In [ ]:
### 예시답안 2

from sklearn.preprocessing import LabelEncoder

# LabelEncoder 객체 생성
enc = LabelEncoder()

# 범주형 변수에 대해 레이블 인코딩 수행
df = df.apply(enc.fit_transform)

In [ ]:
## 제대로 라벨 인코딩이 되었는지 확인해 주세요.
# 상위 5개 행을 확인해 주세요.

df.head()

   buying  maint  doors  persons  lug_boot  safety  class
0       3      3      0        0         2       2      2
1       3      3      0        0         2       0      2
2       3      3      0        0         1       1      2
3       3      3      0        0         1       2      2
4       3      3      0        0         1       0      2

### **Step 2)**
Feature(X)와 Target(y)를 분리해 주세요. (2점)
> target(y) 변수: `class`

In [ ]:
### 예시답안

X = df.drop(['class'], axis = 1)
y = df['class']

### **Step 3)**
```train_test_split()```을 사용하여 훈련 세트와 테스트 세트로 나눠주세요.  (3점)

**❗ 조건>**  
- random_state = 42
- train: test = 8:2

In [ ]:
### 답안

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

### **Step 4)**  
`RandomForestClassifier` 모델을 훈련 세트로 학습시키고, 테스트 세트로 예측을 수행한 후 예측 정확도를 구해주세요.  (6점)  

**❗ 조건>**
- random_state = 42
- max_depth = 8

**🔑 힌트>**  
조건으로 제시된 'library import' 과정을 주목해 주세요!

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [ ]:
### 답안

# 모델 생성
rf_clf = RandomForestClassifier(random_state = 42, max_depth = 8)

# 학습 데이터로 모델 학습
rf_clf.fit(X_train, y_train)

# 테스트 데이터로 예측 수행
pred = rf_clf.predict(X_test)

# 정확도 구하기
accuracy = accuracy_score(y_test, pred)

print("랜덤 포레스트 정확도 : {0:.4f}".format(accuracy))

랜덤 포레스트 정확도 : 0.9422